@use 'config/variables' as variable

.footer
  &-top
    margin-bottom: -13rem
    @media ( variable.$screen-sm )
      margin-bottom: -16.5rem
  &-bottom
    padding-top: 20rem
    @media ( variable.$screen-sm )
      padding-top: 25rem
  &__banner
    margin-top: 6rem
    position: relative
    z-index: 10
    @media ( variable.$screen-sm )
      margin-top: 20rem
  &__grid
    gap: 4rem
    @media ( variable.$screen-sm )
      grid-template-columns: 2fr 1.5fr 1fr
      gap: 10rem
  &__map
    width: 100%